<div
  *ngIf="popupboxStatus"
  class="popup_sec"
  id="pop_forgt"
  style="width: 700px; height: 400px"
>
  <div class="clos_btn">
    <img
      src="./assets/images/clos.png"
      alt=""
      id="clos_pop"
      (click)="handlePopupBox()"
    />
  </div>
  <form #uploadForm="ngForm" (ngSubmit)="handlePostUpload(uploadForm)">
    <div class="pop_hdr"><span>Upload Post</span></div>
    <div class="man_contnt">
      <!-- <input type="file" name="myFile" /> -->
      <input
        (change)="changeFile($event)"
        type="file"
        name="myFile"
        id="inputGroupFile01"
      />

      <select name="category" id="category " (change)="handleCategory($event)">
        <!-- <option value="">Select category</option> -->
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
        <option value="bird">Birds</option>
        <option value="rabbit">Rabbit</option>
        <option value="others">Others</option></select
      ><br /><br /><br />
      <textarea
        name="description"
        id="description"
        cols="30"
        rows="2"
        (keyup)="handleDescription($event)"
      ></textarea>
      <br /><br /><br />
      <input  type="submit" value="Upload Post" />
    </div>
  </form>
</div>

<div class="rght_btn" style="cursor: pointer" (click)="handlePopupBox()">
  <span class="rght_btn_icon"
    ><img src="./assets/images/btn_iconb.png" alt="up"
  /></span>
  <span class="btn_sep"
    ><img src="./assets/images/btn_sep.png" alt="sep"
  /></span>
  <a>Upload Post</a>
</div>
