<div class="content_rgt">
  <div class="register_sec">
    <h1>Create An Account</h1>
    <ul>
      <form
        autocomplete="off"
        #registerForm="ngForm"
        (ngSubmit)="handleSubmit(registerForm)"
      >
        <li>
          <span>Username</span
          ><input
            type="text"
            [(ngModel)]="model.userName"
            name="username"
            placeholder="Enter your username"
            #namemodel="ngModel"
            required
          />
          <small
            style="color: red"
            *ngIf="namemodel.invalid && namemodel.touched"
            >This field is required</small
          >
        </li>
        <li>
          <span>Password</span
          ><input
            type="text"
            [(ngModel)]="model.password"
            name="password"
            placeholder="Enter your password"
            #passwordmodel="ngModel"
            required
          />
          <small
            style="color: red"
            *ngIf="passwordmodel.invalid && passwordmodel.touched"
            >This field is required</small
          >
        </li>
        <li>
          <span>Email</span
          ><input
            type="text"
            [(ngModel)]="model.email"
            name="email"
            placeholder="Enter your email"
            #emailmodel="ngModel"
            required
          />
          <small
            style="color: red"
            *ngIf="emailmodel.invalid && emailmodel.touched"
            >This field is required</small
          >
          <small *ngIf="invalidEmailMessage" style="color: red"
            >email id is already registerd</small
          >
        </li>
        <li>
          <span>First Name</span
          ><input
            type="text"
            [(ngModel)]="model.firstName"
            name="firstname"
            placeholder="Enter your first name"
            #fnamemodel="ngModel"
            required
          />
          <small
            style="color: red"
            *ngIf="fnamemodel.invalid && fnamemodel.touched"
            >This field is required</small
          >
        </li>
        <li>
          <span>Last Name</span
          ><input
            type="text"
            [(ngModel)]="model.lastName"
            name="lastname"
            placeholder="Enter your last name"
            required
          />
        </li>
        <li>
          <input type="checkbox" name="checkbox" />I agree to Term & Conditions
        </li>
        <li><input type="submit" value="Register" /></li>
      </form>
    </ul>
    <div class="addtnal_acnt">
      I already have an account.<a routerLink="/login">Login My Account !</a>
    </div>
  </div>
</div>

<app-welcome-msg></app-welcome-msg>
